html, body {
    width: 100%;       /* Full width */
    height: 100%;      /* Full height */
    margin: 0;         /* No margin */
    padding: 0;        /* No padding */
    display: flex;     /* Flexbox layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center;   /* Center children horizontally */
    background-color: white
    
}

h1 {
    font-family: 'Merriweather', serif;
    color: white;  /* Set the font color to light blue */
    width: 97%;        /* Full width */
    border: 7px solid #42B6E5;
    padding: 30px 20px;
    box-sizing: border-box;  /* Include padding and border in the element's total width */
    text-align: center;      /* Center the text inside the box */
    background-color: #42B6E5;
    margin: 20px 0;          /* Only top and bottom margin */
    border-radius: 15px;
    font-size: 45px;
    
}

h2 {
    font-family: 'Merriweather', serif;
    text-align: left;
    font-size: 16px;
    }

#para1 {
    font-family: 'PT Sans', sans-serif;
    border: 7px solid #f5f5f5;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin: 5px 20px 20px 20px;
    text-align: left;
    font-size: 30px;
}

#para2 {
    font-family: 'Merriweather', serif;
    color: white;  
    width: 97%;       
    border: 7px solid #42B6E5;
    padding: 30px 20px;
    box-sizing: border-box;  
    text-align: center;      
    background-color: #42B6E5;
    margin: 20px 0;         
    border-radius: 15px;
    font-size: 35px
    
}

.map-container {
    display: flex;
    justify-content: space-between; 
    border: 7px solid lightblue;
    padding: 30px 20px;
    box-sizing: border-box;  
    text-align: center;     
    background-color: lightblue;
    margin: 20px 0;       
    border-radius: 15px;
    font-size: 30px;
    width:97%
}

#choropleth_map {
    width: 40%; 


}

#para3 {
    font-family: 'PT Sans', sans-serif;
    border: 7px solid #f5f5f5;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 15px;
    width: 23%;
    margin: 20px 20px 20px 20px;
    text-align: left;
    font-size: 20px;
}
#para4 {
    font-family: 'Merriweather', serif;
    color: white;  
    width: 97%;       
    border: 7px solid #42B6E5;
    padding: 30px 20px;
    box-sizing: border-box;  
    text-align: center;      
    background-color: #42B6E5;
    margin: 20px 0;        
    border-radius: 15px;
    font-size: 35px
    
}

#para5 {
    font-family: 'Merriweather', serif;
    color: white;  
    width: 97%;       
    border: 7px solid #42B6E5;
    padding: 30px 20px;
    box-sizing: border-box;  
    text-align: center;      
    background-color: #42B6E5;
    margin: 20px 0;          
    border-radius: 15px;
    font-size: 35px
    
}


.top-charts-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
    border: 7px solid lightblue;
    padding: 30px 20px;
    box-sizing: border-box;  
    text-align: center;      
    background-color: lightblue;
    margin: 20px 0;          
    border-radius: 15px;
    font-size: 30px;
    width: 97%
}

#bar_chart {
    flex: 1; 
    margin-right: 30px; 
    padding-right: 50px; 
}

#piechart {
    flex: 1; 
    margin-left: 30px; 
    padding-left: 50px; 
}

.centered-chart {
    display: flex;
    justify-content: center; 
    width: 97%; 
    box-sizing: border-box; 
    padding: 0 50px; 
    border: 7px solid lightblue;
    padding: 30px 20px;
    box-sizing: border-box;  
    text-align: center;    
    background-color: lightblue;
    margin: 20px 0;          
    border-radius: 15px;
    font-size: 30px
}

.bottom-charts-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    box-sizing: border-box; 
    padding: 0 50px; 
    border: 7px solid lightblue;
    padding: 30px 20px;
    box-sizing: border-box; 
    text-align: center;      
    background-color: lightblue;
    margin: 20px 0;         
    border-radius: 15px;
    font-size: 30px;
    width:97%
}

#bubbleplot, #scatterplot {
    flex: 1; 
    margin: 0 10px; 
   
}

#para6 {
    flex: 1; 
    text-align: center; 
    margin: 0 10px; 
    font-family: 'PT Sans', sans-serif;
    border: 7px solid #f5f5f5;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 15px;
    width: 25%;
    margin: 20px 20px 20px 20px;
    text-align: left;
    font-size: 15px;
}

#para7 {
    flex: 1; 
    text-align: center; 
    margin: 0 10px; 
    font-family: 'PT Sans', sans-serif;
    border: 7px solid #f5f5f5;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    margin: 20px 20px 20px 20px;
    text-align: left;
    font-size: 28px;
}

#para8 {
    flex: 1; 
    text-align: center; 
    margin: 0 10px; 
    font-family: 'PT Sans', sans-serif;
    border: 7px solid #f5f5f5;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 15px;
    width: 95%;
    margin: 20px 20px 20px 20px;
    text-align: left;
    font-size: 15px;
}