/* Set the size of the entire page */
html, body {
    width: 90%;       /* Full width */
    height: 100%;      /* Full height */
    margin: 0;         /* No margin */
    padding: 0;        /* No padding */
    display: flex;     /* Flexbox layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center;   /* Center children horizontally */
    
}

h1 {
    font-family: 'Merriweather', serif;
    color: #42B6E5;  /* Set the font color to light blue */
    width: 97%;        /* Full width */
    border: 7px solid #42B6E5;
    padding: 30px 20px;
    box-sizing: border-box;  /* Include padding and border in the element's total width */
    text-align: center;      /* Center the text inside the box */
    background-color: white;
    margin: 20px 0;          /* Only top and bottom margin */
    border-radius: 15px;
}

p {
    font-family: 'Merriweather', serif; /* Optional: To match the font of h1 */
    background-color: #f5f5f5; /* Light gray background color for the box */
    padding: 20px; /* Space inside the box around the text */
    border-radius: 15px; /* Rounded corners */
    width: 50%; /* Width of the box, adjust as needed */
    margin: 20px auto 20px 20px; /* Top, Right, Bottom, Left margins */
    text-align: left; /* Left-align the text inside the box */
}
